/*HOME*/

.cms-index-index{
    .header-container{
        margin-bottom: 0;
    }
}

.fullbanner{
    width: 100%; 
    float: left; 
    margin-bottom: 20px;
}
.banner-regua{
    width: 100%; 
    float: left; 
    margin-bottom: 20px;
}

.showcase{
    margin-bottom: 30px;
}
.showcase-title{
    margin-bottom: 20px;
}
.showcase-title {
    .subtitle{
        margin: 0; 
        padding: 0 0 5px; 
        text-transform: uppercase; 
        border-bottom: 2px solid #666; 
        font-size: 22px
    }
}

    