/*HEADER*/

.header-container{margin-bottom: 20px;}

.header-top{background: #333333;}
.header-top *{color: #fff}
.header-middle{padding: 20px 0; background: #636569}

.header-bottom{height: 50px; background: #333}

.televendas{font-size: 14px; margin-top: 10px;}
.televendas i{font-size: 16px; margin: 0 5px 0 0;}

.customer-menu{height: 40px; position: relative; float: right}
.customer-links{line-height: 40px;}
.customer-links *{display: inline-block; vertical-align: baseline}
.customer-links i{font-size: 18px; margin: 0 5px 0 0;}
.customer-links span.icon{font-size: 8px;}
.customer-menu .links{position: absolute; z-index: 1000; display: none; top: 100%; right: 0; background: #fff; padding: 15px 20px; box-shadow: 0 0 1px 0 rgba(0,0,0,.3)}
.customer-menu .links a{white-space: nowrap; padding: 3px 20px; display: block; margin: 0 -20px;}
.customer-menu .links a:hover{background: #ebebeb}
.customer-menu:hover .links{display: block}

.logo img{max-height: 50px;}

.form-search{position: relative;}
.form-search .search{width: 100%; height: 50px; padding: 0 50px 0 15px; color: #999; background: #fff; border: 1px solid #f1f1f1; border-radius: 3px;}
.form-search .button{position: absolute; height: 40px; width: 40px; right: 5px; top: 5px; background: none; border: none; color: #333;}
.form-search .button span{display: none}

.topcart-wrapper{position: relative; float: right; z-index: 999}
.icons-topcart i{font-size: 40px; padding: 5px 0; margin: 0 5px 0 0; display: inline-block; vertical-align: middle}
.icons-topcart .items{display: inline-block; vertical-align: middle}
.icons-topcart .items strong{display: block;}
.topcart{position: absolute; top: 100%; right: 0; display: none; width: 300px; border-top: 2px solid #333; background: #fff; padding: 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);}
.topcart h2{margin: 0 0 10px; font-size: 16px; text-transform: uppercase; font-weight: 600;}
.topcart .empty-msg{padding: 10px 20px 10px; border:1px dashed #f1f1f1; text-align: center; color: #999; font-size: 12px; margin-bottom: 15px;}
.topcart-bottom{display: table; width: 100%; padding-top: 19px; border-top: 1px solid #ccc;}
.topcart-total-cost{float: left}
.topcart-total-cost span{display: block}
.topcart-actions{float: right}
.topcart-actions .topcart-buttons{height: 40px; display: block; border: none; padding: 10px 20px; font-size: 14px; text-transform: uppercase; color: #fff; background: #333; border-radius: 3px;}
.topcart-wrapper:hover .topcart{display: block}
.topcart-list{margin-bottom: 10px;}
.topcart-list .item{font-size: 0; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dashed #d1d1d1;}
.topcart-list .item:last-child{margin-bottom: 0; padding-bottom: 0; border: none}
.topcart-list .item > *{display: inline-block; vertical-align: middle; font-size: 12px;}
.topcart-list .item a.product-image img{max-width: 50px;}
.topcart-list .product-details{width: 210px; padding: 0 20px 0 10px; position: relative; min-height: 50px;}
.topcart-list .product-details .btn-remove{position: absolute; right: 0; top: 0; font-size: 14px; color: #999}
.topcart-list .product-details .btn-remove:hover{color: #333; text-decoration: none}
.topcart-list .product-details .btn-edit{position: absolute; right: 0; top: 30px; font-size: 14px; color: #999}
.topcart-list .product-details .btn-edit:hover{color: #333; text-decoration: none}
.topcart-list .product-name{font-weight: 600; margin-bottom: 5px; font-size: 14px}

.headermenu{position: relative; z-index: 900}
.topmenu{margin-left: 50px; display: block}
#topmenu{display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
#topmenu li.level0{-webkit-flex: 1 1 auto; flex: 1 1 auto; position: relative}
#topmenu li.level0 > a{color: #fff; text-transform: uppercase; font-weight: 600; height: 50px; display: block; display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
#topmenu li.level0 > a:hover,
#topmenu li.level0:hover > a {background: #000}
#topmenu .submenu{position: absolute; top: 100%; left:0; min-width: 100%; display: none; background: #fff; padding: 15px 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3); border-top: 2px solid #666}
#topmenu li.level1 > a{padding: 3px 10px; margin: 0 -10px; display: block}
#topmenu li.level1 > a:hover{background: #f1f1f1}
#topmenu li.level0:hover .submenu{display: block}

.fullmenu{width: 50px; height: 50px; float: left}
.fullmenu:hover{background: #000}
.menuicon{width: 40px; height: 40px; margin: 5px; position: relative}
.fullmenu i{width: 30px; height: 4px; border-radius: 3px; background: #fff; display: block; position: absolute; top:18px; left: 5px;}
.fullmenu i:first-child{top: 10px}
.fullmenu i:last-child{top: auto; bottom: 10px;}
.fullmenu_wrapper{position: absolute; top: 100%; left: 0; right: 0; display: none;}
#fullmenu{padding: 20px 10px; background: #fff; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3); display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#fullmenu li.level0{-webkit-flex: 0 1 20%; flex: 0 1 20%; padding: 0 10px;}
#fullmenu li.level0 > a{text-transform: uppercase;font-size: 16px; font-weight: 600; display: block}
#fullmenu li.level1 > a{padding: 3px 10px; margin: 0 -10px; display: block}
#fullmenu li.level1 > a:hover{background: #f1f1f1}
.fullmenu:hover .fullmenu_wrapper{display: block}

.position-static{position: static}
#topnav{padding: 10px 0; background: #636569; border-top:4px solid #333; box-shadow: 0 2px 3px 0 rgba(0,0,0,.3); position: fixed; top: 0; left: 0; right: 0; z-index: 1001; display: none}
#topnav .quicktop-wrapper{position: relative}
#topnav .fullmenu{background: #666;}
#topnav .fullmenu_wrapper{top: 50px; right: 15px; left: 15px; border-top: 2px solid #333;}