<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_Core>
            <version>3.20.1</version>
        </PagarMe_Core>
    </modules>
    <global>
        <helpers>
            <pagarme_core>
                <class>PagarMe_Core_Helper</class>
            </pagarme_core>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <pagarme_core>
                        <class>PagarMe_Core_Model_Observer_Autoloader</class>
                        <method>registerSplAutoloader</method>
                    </pagarme_core>
                </observers>
            </resource_get_tablename>
        </events>
        <models>
            <pagarme_core>
                <class>PagarMe_Core_Model</class>
                <resourceModel>pagarme_core_resource</resourceModel>
            </pagarme_core>
            <pagarme_core_resource>
                <class>PagarMe_Core_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>pagarme_transaction</table>
                    </transaction>
                </entities>
            </pagarme_core_resource>
        </models>
        <resources>
            <pagarme_core_setup>
                <setup>
                    <module>PagarMe_Core</module>
                    <class>PagarMe_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagarme_core_setup>
            <pagarme_core_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagarme_core_write>
            <pagarme_core_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagarme_core_read>
        </resources>
        <payment>
            <groups>
                <pagarmev2>Pagar.me V2</pagarmev2>
            </groups>
        </payment>
    </global>
    <frontend>
        <routers>
            <pagarme_core>
                <use>standard</use>
                <args>
                    <module>PagarMe_Core</module>
                    <frontName>pagarme_core</frontName>
                </args>
            </pagarme_core>
        </routers>
        <translate>
            <modules>
                <PagarMe_Core>
                    <files>
                        <default>PagarMe_Core.csv</default>
                    </files>
                </PagarMe_Core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <PagarMe_Core>
                    <files>
                        <default>PagarMe_Core.csv</default>
                    </files>
                </PagarMe_Core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <pagarme_modal>
                <active>0</active>
                <title>Pagar.me Checkout</title>
                <model>pagarme_modal/modal</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_methods>credit_card,boleto</payment_methods>
                <payment_action>authorize</payment_action>
                <group>pagarmev2</group>
            </pagarme_modal>
            <pagarme_creditcard>
                <active>1</active>
                <title>Pagar.me Cartão de crédito</title>
                <model>pagarme_creditcard/creditcard</model>
                <order_status>pending_payment</order_status>
                <allowspecific>0</allowspecific>
                <payment_methods>credit_card</payment_methods>
                <payment_action>authorize</payment_action>
                <group>pagarmev2</group>
            </pagarme_creditcard>
            <pagarme_bowleto>
                <active>1</active>
                <title>Pagar.me Boleto</title>
                <model>pagarme_bowleto/boleto</model>
                <order_status>authorize</order_status>
                <allowspecific>0</allowspecific>
                <payment_methods>boleto</payment_methods>
                <payment_action>authorize</payment_action>
                <group>pagarmev2</group>
            </pagarme_bowleto>
            <pagarme_configurations>
                <modal_title>Pagarme Checkout</modal_title>
                <modal_button_text>Realizar pagamento</modal_button_text>
                <creditcard_interest_rate>0</creditcard_interest_rate>
                <creditcard_free_installments>1</creditcard_free_installments>
                <creditcard_max_installments>1</creditcard_max_installments>
                <creditcard_allowed_creditcard_brands>visa,mastercard,amex,hipercard,aura,jcb,diners,elo,discover</creditcard_allowed_creditcard_brands>
                <creditcard_title>Pagamento com cartão de crédito</creditcard_title>
                <modal_capture_customer_data>true</modal_capture_customer_data>
                <boleto_discount>0</boleto_discount>
                <days_to_boleto_expire>5</days_to_boleto_expire>
                <boleto_discount_mode>no_discount</boleto_discount_mode>
                <boleto_title>Pagamento com boleto</boleto_title>
                <modal_payment_methods>credit_card,boleto</modal_payment_methods>
                <payment_action>authorize_capture</payment_action>
                <modal_capture_customer_data>false</modal_capture_customer_data>
            </pagarme_configurations>
        </payment>
    </default>
</config>
