<?xml version="1.0"?>
<config>
<modules>
<RLisboa_UpdateLog>
<version>0.0.1</version>
</RLisboa_UpdateLog>
</modules>
<global>
<models>
<rlisboa_updatelog>
<class>RLisboa_UpdateLog_Model</class>
</rlisboa_updatelog>
</models>
<events>
<catalog_product_save_after>
<observers>
<rlisboa_updatelog>
<class>rlisboa_updatelog/observer</class>
<method>logUpdate</method>
<type>singleton</type>
</rlisboa_updatelog>
</observers>
</catalog_product_save_after>
</events>
</global>
</config>