<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_Bowleto>
            <version>3.20.1</version>
        </PagarMe_Bowleto>
    </modules>
    <global>
        <models>
            <pagarme_bowleto>
                <class>PagarMe_Bowleto_Model</class>
            </pagarme_bowleto>
        </models>
        <blocks>
            <pagarme_bowleto>
                <class>PagarMe_Bowleto_Block</class>
            </pagarme_bowleto>
        </blocks>
        <helpers>
            <pagarme_bowleto>
                <class>PagarMe_Bowleto_Helper</class>
            </pagarme_bowleto>
        </helpers>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <frontend>
        <layout>
            <updates>
                <pagarme_bowleto>
                    <file>pagarme/pagarme_boleto.xml</file>
                </pagarme_bowleto>
            </updates>
        </layout>
    </frontend>
    <frontend>
        <translate>
            <modules>
                <PagarMe_Bowleto>
                    <files>
                        <default>PagarMe_Boleto.csv</default>
                    </files>
                </PagarMe_Bowleto>
            </modules>
        </translate>
    </frontend>
    <admin>
        <translate>
            <modules>
                <PagarMe_Bowleto>
                    <files>
                        <default>PagarMe_Boleto.csv</default>
                    </files>
                </PagarMe_Bowleto>
            </modules>
        </translate>
    </admin>
    <crontab>
        <jobs>
            <cancel_boleto_unpaid_orders>
                <schedule><cron_expr>1/1 * * * * </cron_expr></schedule>
                <run>
                    <model>pagarme_bowleto/UnpaidBoleto::cancel</model>
                </run>
            </cancel_boleto_unpaid_orders>
        </jobs>
    </crontab>
</config>
