body{font-family: 'Open Sans', sans-serif; color: #333;}

img{max-width: 100%; height: auto}

a{color: #333;}
a:hover,
a.active{color: #000;}

*,
ul{padding: 0; list-style: none; margin: 0}

h1, h2, h3, h4, h5, h6{margin-top: 0;}

.btn,
.button{background: #333; color: #fff; text-transform: uppercase; text-align: center; border: none; display: block; padding: 10px 20px;}
.btn:hover,
.btn:focus{color: #fff;}

.transition,
#quickbuy,
#quickbuy .quickbuy_close{-webkit-transition:all 0.2s ease-in-out;-moz-transition:all 0.2s ease-in-out;-o-transition:all 0.2s ease-in-out;-ms-transition:all 0.2s ease-in-out;transition:all 0.2s ease-in-out}

.messages{margin-bottom: 20px;}
.messages > li{padding: 10px;}
.messages > li.success-msg{color: #027e8a; background: rgba(57,181,75,.4);}
.messages > li.error-msg{color: #801815; background: rgba(255,0,0,.4);}

.tcon {-webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; cursor: pointer; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 40px; transition: 0.3s; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 40px; background: transparent; outline: none; -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }
.tcon > * {display: block; }
.tcon:hover,
.tcon:focus {outline: none; }
.tcon::-moz-focus-inner {border: 0; }
.tcon-menu__lines {display: inline-block; height: 5.71429px; width: 40px; border-radius: 2.85714px; transition: 0.3s; background: black; position: relative; }
.tcon-menu__lines::before,
.tcon-menu__lines::after {display: inline-block; height: 5.71429px; width: 40px; border-radius: 2.85714px; transition: 0.3s; background: black; content: ''; position: absolute; left: 0; -webkit-transform-origin: 2.85714px center; transform-origin: 2.85714px center; width: 100%; }
.tcon-menu__lines::before {top: 10px; }
.tcon-menu__lines::after {top: -10px; }
.tcon-transform .tcon-menu__lines {-webkit-transform: scale3d(0.8, 0.8, 0.8); transform: scale3d(0.8, 0.8, 0.8); }
.tcon-menu--xbutterfly {width: auto; }
.tcon-menu--xbutterfly .tcon-menu__lines::before,
.tcon-menu--xbutterfly .tcon-menu__lines::after {-webkit-transform-origin: 50% 50%; transform-origin: 50% 50%; transition: top 0.3s 0.6s ease, -webkit-transform 0.3s ease; transition: top 0.3s 0.6s ease, transform 0.3s ease; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines {background: transparent; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before,
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {top: 0; transition: top 0.3s ease, -webkit-transform 0.3s 0.5s ease; transition: top 0.3s ease, transform 0.3s 0.5s ease; width: 40px; }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::before {-webkit-transform: rotate3d(0, 0, 1, 45deg); transform: rotate3d(0, 0, 1, 45deg); }
.tcon-menu--xbutterfly.tcon-transform .tcon-menu__lines::after {-webkit-transform: rotate3d(0, 0, 1, -45deg); transform: rotate3d(0, 0, 1, -45deg); }
.tcon-visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.tcon-visuallyhidden:active,
.tcon-visuallyhidden:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.tcon-loader--spinner360 {border-radius: 80%; display: block; height: 40px; width: 40px; position: relative; -webkit-animation: tcon-spin360 0.675s linear infinite forwards; animation: tcon-spin360 0.675s linear infinite forwards; background: lightgray; }
.tcon-loader--spinner360:before,
.tcon-loader--spinner360:after {content: ""; display: block; position: absolute; }
.tcon-loader--spinner360:before {border-radius: 0 90px 90px 0; height: 40px; width: 50%; top: 0; right: 0; z-index: 1; background: black; background-image: linear-gradient(lightgray, black); }
.tcon-loader--spinner360:after {border-radius: 80%; height: 30px; width: 30px; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; background: white; }
@-webkit-keyframes tcon-spin360 {
    to {-webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes tcon-spin360 {
    to {-webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
}


/*HEADER*/

.header-container{margin-bottom: 20px;}

.header-top{background: #333333;}
.header-top *{color: #fff}
.header-middle{padding: 20px 0; background: #636569}

.header-bottom{height: 50px; background: #333}

.televendas{font-size: 14px; margin-top: 10px;}
.televendas i{font-size: 16px; margin: 0 5px 0 0;}

.customer-menu{height: 40px; position: relative; float: right}
.customer-links{line-height: 40px;}
.customer-links *{display: inline-block; vertical-align: baseline}
.customer-links i{font-size: 18px; margin: 0 5px 0 0;}
.customer-links span.icon{font-size: 8px;}
.customer-menu .links{position: absolute; z-index: 1000; display: none; top: 100%; right: 0; background: #fff; padding: 15px 20px; box-shadow: 0 0 1px 0 rgba(0,0,0,.3)}
.customer-menu .links a{white-space: nowrap; padding: 3px 20px; display: block; margin: 0 -20px;}
.customer-menu .links a:hover{background: #ebebeb}
.customer-menu:hover .links{display: block}

.logo img{max-height: 50px;}

.form-search{position: relative;}
.form-search .search{width: 100%; height: 50px; padding: 0 50px 0 15px; color: #999; background: #fff; border: 1px solid #f1f1f1; border-radius: 3px;}
.form-search .button{position: absolute; height: 40px; width: 40px; right: 5px; top: 5px; background: none; border: none; color: #333;}
.form-search .button span{display: none}

.topcart-wrapper{position: relative; float: right; z-index: 999}
.icons-topcart i{font-size: 40px; padding: 5px 0; margin: 0 5px 0 0; display: inline-block; vertical-align: middle}
.icons-topcart .items{display: inline-block; vertical-align: middle}
.icons-topcart .items strong{display: block;}
.topcart{position: absolute; top: 100%; right: 0; display: none; width: 300px; border-top: 2px solid #333; background: #fff; padding: 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);}
.topcart h2{margin: 0 0 10px; font-size: 16px; text-transform: uppercase; font-weight: 600;}
.topcart .empty-msg{padding: 10px 20px 10px; border:1px dashed #f1f1f1; text-align: center; color: #999; font-size: 12px; margin-bottom: 15px;}
.topcart-bottom{display: table; width: 100%; padding-top: 19px; border-top: 1px solid #ccc;}
.topcart-total-cost{float: left}
.topcart-total-cost span{display: block}
.topcart-actions{float: right}
.topcart-actions .topcart-buttons{height: 40px; display: block; border: none; padding: 10px 20px; font-size: 14px; text-transform: uppercase; color: #fff; background: #333; border-radius: 3px;}
.topcart-wrapper:hover .topcart{display: block}
.topcart-list{margin-bottom: 10px;}
.topcart-list .item{font-size: 0; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px dashed #d1d1d1;}
.topcart-list .item:last-child{margin-bottom: 0; padding-bottom: 0; border: none}
.topcart-list .item > *{display: inline-block; vertical-align: middle; font-size: 12px;}
.topcart-list .item a.product-image img{max-width: 50px;}
.topcart-list .product-details{width: 210px; padding: 0 20px 0 10px; position: relative; min-height: 50px;}
.topcart-list .product-details .btn-remove{position: absolute; right: 0; top: 0; font-size: 14px; color: #999}
.topcart-list .product-details .btn-remove:hover{color: #333; text-decoration: none}
.topcart-list .product-details .btn-edit{position: absolute; right: 0; top: 30px; font-size: 14px; color: #999}
.topcart-list .product-details .btn-edit:hover{color: #333; text-decoration: none}
.topcart-list .product-name{font-weight: 600; margin-bottom: 5px; font-size: 14px}

.headermenu{position: relative; z-index: 900}
.topmenu{margin-left: 50px; display: block}
#topmenu{display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
#topmenu li.level0{-webkit-flex: 1 1 auto; flex: 1 1 auto; position: relative}
#topmenu li.level0 > a{color: #fff; text-transform: uppercase; font-weight: 600; height: 50px; display: block; display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -ms-flex-align: center; -webkit-align-items: center; align-items: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center;}
#topmenu li.level0 > a:hover,
#topmenu li.level0:hover > a {background: #000}
#topmenu .submenu{position: absolute; top: 100%; left:0; min-width: 100%; display: none; background: #fff; padding: 15px 20px; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3); border-top: 2px solid #666}
#topmenu li.level1 > a{padding: 3px 10px; margin: 0 -10px; display: block}
#topmenu li.level1 > a:hover{background: #f1f1f1}
#topmenu li.level0:hover .submenu{display: block}

.fullmenu{width: 50px; height: 50px; float: left}
.fullmenu:hover{background: #000}
.menuicon{width: 40px; height: 40px; margin: 5px; position: relative}
.fullmenu i{width: 30px; height: 4px; border-radius: 3px; background: #fff; display: block; position: absolute; top:18px; left: 5px;}
.fullmenu i:first-child{top: 10px}
.fullmenu i:last-child{top: auto; bottom: 10px;}
.fullmenu_wrapper{position: absolute; top: 100%; left: 0; right: 0; display: none;}
#fullmenu{padding: 20px 10px; background: #fff; box-shadow: 0 1px 1px 0 rgba(0,0,0,.3); display: -webkit-box; display: -ms-flexbox; display: -moz-flex; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap;}
#fullmenu li.level0{-webkit-flex: 0 1 20%; flex: 0 1 20%; padding: 0 10px;}
#fullmenu li.level0 > a{text-transform: uppercase;font-size: 16px; font-weight: 600; display: block}
#fullmenu li.level1 > a{padding: 3px 10px; margin: 0 -10px; display: block}
#fullmenu li.level1 > a:hover{background: #f1f1f1}
.fullmenu:hover .fullmenu_wrapper{display: block}

.position-static{position: static}
#topnav{padding: 10px 0; background: #636569; border-top:4px solid #333; box-shadow: 0 2px 3px 0 rgba(0,0,0,.3); position: fixed; top: 0; left: 0; right: 0; z-index: 1001; display: none}
#topnav .quicktop-wrapper{position: relative}
#topnav .fullmenu{background: #666;}
#topnav .fullmenu_wrapper{top: 50px; right: 15px; left: 15px; border-top: 2px solid #333;}

/*HOME*/

.cms-index-index .header-container{margin-bottom: 0;}

.fullbanner{width: 100%; float: left; margin-bottom: 20px;}
.banner-regua{width: 100%; float: left; margin-bottom: 20px;}

.showcase{margin-bottom: 30px;}
.showcase-title{margin-bottom: 20px;}
.showcase-title .subtitle{margin: 0; padding: 0 0 5px; text-transform: uppercase; border-bottom: 2px solid #666; font-size: 22px}

/*LISTAGEM*/

.products-grid .item{margin-bottom: 20px;}
.products-grid .item.first{clear: left}
.product-wrapper{box-shadow: 0 0 1px 0 rgba(0,0,0,.2); padding: 10px;}
.item:hover .product-wrapper{box-shadow: 1px 1px 3px 0 rgba(0,0,0,.3)}
.products-grid .product-image{display: block; margin-bottom: 10px;}
.products-grid .product-name{margin: 0 0 10px; font-size: 18px; text-transform: uppercase}

.price-box{margin-bottom: 10px;}
.old-price{color: #999; text-decoration: line-through; margin-bottom: 5px;}
.special-price{font-size: 16px; font-weight: 600; margin-bottom: 0;}
.regular-price{font-size: 16px; font-weight: 600; margin-bottom: 0;}

.products-grid .add-to-links{padding: 5px 0; border: dashed #ccc; border-width: 1px 0; margin-bottom: 10px; font-size: 12px;}
.products-grid .add-to-links li{margin-bottom: 5px;}
.products-grid .add-to-links li:last-child{margin-bottom: 0;}
.products-grid .add-to-links i{font-size: 14px; margin: 0 5px 0 0}

.btn-cart{background: #333; color: #fff; text-transform: uppercase; text-align: center; width: 100%; border: none; display: block; padding: 10px 5px; font-size: 16px;}
.btn-cart i{font-size: 20px; margin: 0 5px 0 0;}

.products-list > li{margin-bottom: 20px;}

/*SIDEBAR LEFT*/

.block-title{text-transform: uppercase; margin-bottom: 20px;}

.block.block-layered-nav .block-content{padding: 20px; box-shadow: 0 0 1px 0 rgba(0,0,0,.3)}

/*BREADCRUMBS*/

.breadcrumbs{padding: 10px; background: #f1f1f1; margin-bottom: 20px;}
.breadcrumbs li{display: inline-block; vertical-align: middle}

/*TOOLBAR*/

.toolbar{display: block; clear: both; border:solid #ccc; border-width: 1px 0; padding: 10px 0; margin: 0 0 20px 0;}
.toolbar p{margin-bottom: 0;}
.toolbar .pager{text-align: left; margin: 0;}
.toolbar .pager > *{display: inline-block; vertical-align: baseline}
.toolbar .pager .limiter{margin-left: 10px;}
.toolbar .pager .limiter *{display: inline-block; vertical-align: baseline}
.toolbar .pager .limiter .form-control{width: 50px;}

.toolbar .sorter{text-align: right}
.toolbar .sorter *{display: inline-block; vertical-align: middle}
.toolbar .view-mode{font-size: 30px; height: 30px;}
.toolbar .view-mode *{vertical-align: top}
.toolbar .view-mode label{display: none}
.toolbar .view-mode a{opacity: .7;}
.toolbar .view-mode a:hover{opacity: 1; text-decoration: none}
.toolbar .form-control{width: 110px;}
.toolbar .sort{font-size: 25px; margin: 0 0 0 10px}

/*PRODUTO*/

.main-image-wrapper{position: relative; overflow: hidden; margin-bottom: 10px;}
/*.zoomWrapper{height: auto!important; width: auto!important;}*/
/*.zoomWrapper img{position: static!important;height: auto!important; width: auto!important;}*/


.more-views .extra-images{position: relative}
.more-views .extra-images .gallery-container{overflow: hidden}
.more-views h2{font-size: 13px; text-transform: uppercase}
.more-views ul{font-size: 0;}
.more-views ul li{padding: 5px;}
.more-views ul li a{display: block}
.more-views ul li a:hover{box-shadow: 0 0 1px 0 rgba(0,0,0,.3)}
.more-views .extra-images-next,
.more-views .extra-images-prev{position: absolute; z-index: 10; cursor: pointer; top: 50%; margin-top: -10px; font-size: 20px; line-height: 20px; left: -15px}
.more-views .extra-images-next{left: auto; right: -15px;}

.product-essential{margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #f1f1f1}

#quickbuy{position: fixed; visibility: hidden; opacity: 0; z-index: -1000; right: 0; top: 50%; background: #fff; box-shadow: 0 0 3px 0 rgba(0,0,0,.3); width: 260px; padding: 20px; border-radius: 4px 0 0 4px;}
#quickbuy.visible{visibility: visible; z-index: 9999; opacity: 1}
#quickbuy.closed{right: -240px;}
#quickbuy .quickbuy_close{position: absolute; left: -10px; top: -10px; height: 20px; width: 20px; line-height: 20px; font-size: 20px; background: #fff; border-radius: 100%;}
#quickbuy.closed .quickbuy_close{-ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg);}
#quickbuy h2{font-size: 18px; text-transform: uppercase}

/*.product-shop{position: relative;z-index: 1}*/

.product-name{margin-bottom: 10px;}
.product-name h1{font-size: 24px; line-height: 25px; margin-bottom: 5px;}
.short-description{margin-bottom: 10px;}
.short-description > h2{font-size: 14px; margin-bottom: 5px; text-transform: uppercase; font-weight: 600}

.email-friend i{margin: 0 5px 0 0;}

.ratings{margin-bottom: 10px;}
.ratings .rating-box{display: inline-block; vertical-align: middle; margin: 0 10px 0 0; font-size: 18px;}
.ratings .rating-links{display: inline-block; vertical-align: middle}

.product-shop .price-box{margin-bottom: 20px}
.product-shop .old-price{font-size: 13px; line-height: 13px;}
.product-shop .regular-price,
.product-shop .special-price{font-size: 24px; line-height: 24px;}

.add-to-box{margin-bottom: 20px;}
.add-to-box .add-to-cart{}
.add-to-box .qty-box{float: left; position: relative; padding-right: 20px;}
.add-to-box .qty-box label{display: none}
.add-to-box .qty-box .input-text{height: 45px;}
.add-to-box .qty-box .qty{display: inline-block; vertical-align: middle; width: 50px; text-align: center}
.add-to-box .qty-box button{width: 15px; right:0; position: absolute; border: none; background: none}
.add-to-box .qty-box .plus{top: 0px;}
.add-to-box .qty-box .minus{bottom: 0px;}

.add-to-cart{margin-bottom: 20px}
.add-to-cart.has-qty:after{content: ''; display: block; clear: both}
.add-to-cart.has-qty .btn-wrapper{margin: 0 0 0 90px;}
.add-to-cart .btn-cart{height: 45px;}

.block-shipping-estimate{margin-bottom: 20px;}
.block-shipping-title{text-transform: uppercase}
.shipping-estimation-form .form-cep{position: relative}
.shipping-estimation-form .form-cep label{margin: 8px 0 0; float: left;}
.shipping-estimation-form .form-cep .input-box{margin: 0 0 0 40px;}
.shipping-estimation-form .form-cep input[type=text]{padding: 0 60px 0 10px;}
.shipping-estimation-form .form-cep .button{position: absolute; right: 2px; top: 2px; bottom: 2px; padding: 0 10px; background: #333; color: #fff; border: none; border-radius: 2px;}
.shipping-subtitle{font-size: 12px; margin-bottom: 5px; display: block}
.block-shipping-results{padding: 10px; background: #f1f1f1}
.block-shipping-results .block-content{padding: 0;}
.block-shipping-results .block-content dl{margin-bottom: 0;}
.block-result-title{text-transform: uppercase; margin-bottom: 5px;}

.box-collateral{margin-bottom: 40px; padding-bottom: 20px; border-bottom: 1px solid #f1f1f1}
.box-collateral > h2{text-transform: uppercase; font-size: 22px; font-weight: 600; margin-bottom: 20px;}

/* ABAS */

.product-tabs { margin-bottom:15px; border-bottom:1px solid #666; background:#f2f2f2;}
.product-tabs li {display: inline-block; vertical-align: bottom}
.product-tabs a { display:block; padding: 10px 15px; text-transform: uppercase; font-size: 13px; border-radius: 3px 3px 0 0; color:#444; }
.product-tabs a:hover { background-color:#ddd; text-decoration:none; color:#444; }
.product-tabs li.active a,
.product-tabs li.active a:hover { background-color:#333; font-weight:bold; color:#fff; }
.product-tabs-content h2 {font-size:12px; font-weight:bold; }

/*AVALIAÇÕES*/

.box-reviews .form-add{padding: 10px; background: #f1f1f1}
.box-reviews .form-add h4{font-size: 14px; text-transform: uppercase; font-weight: 600}

#product-review-table li{margin-bottom: 10px;}
#product-review-table li > div{display: inline-block; vertical-align: middle}
#product-review-table li > div:after{content: ''; display: block; clear: both}
#product-review-table .review-name{width: 120px; font-size: 13px; font-weight:600;}

.rating-input {display: none;}
.rating-star{margin: 0; font-size: 18px; line-height: 15px; padding: 0 5px 0 0}
.rating-star:before{font-family: 'icomoon'; content: '\ea01';}
.rating-star:hover:before,
.rating-star:hover ~ .rating-star:before {content: '\ea03';}
.rating-wrapper:hover .rating-star:hover,
.rating-wrapper:hover .rating-star:hover ~ .rating-star:before,
.rating-input:checked ~ .rating-star:before {content: '\ea03';}
.rating-star,
.rating-wrapper:hover .rating-star {float: right; display: block;}

.box-reviews textarea{margin-bottom: 10px;}
.box-reviews .btn{width: 100%}

.reviews-main-wrapper{padding: 10px; background: #f1f1f1}
.reviews-main-title{text-transform: uppercase; font-size: 18px;}
.review-wrapper{margin-bottom: 20px;}
.review-by{margin-bottom: 15px;}
.user-review{padding: 10px; background: #fff; position: relative}
.user-review:before{content: ''; display: block; position: absolute; border: solid transparent; border-width: 0 10px 10px 0; border-bottom-color: #fff; top: -10px; left: 30px;}

.review-stars li{display: inline-block; vertical-align: middle}
.review-stars li:first-child{min-width: 140px;}

/*RODAPÉ*/

.footer{border-top: 4px solid #333; padding: 20px 0 0;}
.footer h3{margin: 0 0 15px; text-transform: uppercase; font-size: 18px; font-weight: 600;}

.footer-top{margin-bottom: 20px;}
.footer .logo{margin-bottom: 10px; display: block}

.footer .contacts li{margin-bottom: 5px;}
.footer .contacts .telefone{font-size: 18px}
.footer .contacts .telefone i{font-size: 14px}
.footer .contacts .horario i{float: left; margin: 2px 5px 0 0;}

.footer .social{font-size: 0;}
.footer .social li{display: inline-block; vertical-align: middle; margin: 0 10px 10px}
.footer .social a:hover{text-decoration: none}
.footer .social a i{font-size: 30px;}
.footer .social .ico-fb i{color: #3b5998}
.footer .social .ico-tt i{color: #00aced}
.footer .social .ico-it i{color: #125688}
.footer .social .ico-gp i{color: #dd4b39}
.footer .social .ico-yt i{color: #bb0000}
.footer .social .ico-pt i{color: #cb2027}
.footer .social .ico-li i{color: #007bb5}
.footer .social .ico-bl i{color: #f57d00}

.footer-bottom{margin-bottom: 20px;}

.ressalva{background: #f1f1f1; border-top: 1px solid #999; padding: 20px 0; color: #666; font-size: 12px; text-align: center}
.ressalva p{margin-bottom: 0;}

.smartux{padding: 5px 0; text-align: center; background: #333;}
.smartux img{max-width: 110px; height: auto;}

/* Form Validation */

.input-box {position: relative !important;}
.validation-advice {background: #DB6D00;  bottom: -7px; color: #fff; font-size: 11px; font-weight: bold; line-height: 13px; min-height: 13px; padding: 10px; position: absolute; left: -150px; width: 120px; border-radius: 5px; box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);}
.validation-advice:after {position: absolute; right: -8px; bottom: 8px; content: " "; width: 0; height: 0; border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #DB6D00;}


/*CARRINHO*/

#loader{position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255,255,255,.6); z-index: 999999; display: none}
#loader img{position: absolute; top: 50%; left: 50%; margin: -25px 0 0 -25px;}

.cart .page-title{display: table; width: 100%; max-width: 100%; padding: 10px; background: #f1f1f1; margin-bottom: 20px;}
.cart .page-title h1{float: left; font-size: 22px; line-height: 40px; text-transform: uppercase; margin: 0}
.cart .page-title ul{float: right}

.cart-col-wrapper{font-size: 0}
.cart-col-wrapper li{font-size: 13px; display: inline-block; vertical-align: middle; padding: 5px 10px;}

.cart .col-1{width: 50%}
.cart .col-2{width: 20%;}
.cart .col-3{width: 15%;}
.cart .col-4{width: 15%; text-align: right}

.cart-thead{background: #333}
.cart-thead li{color: #fff; text-transform: uppercase}

.cart-body{margin-bottom: 50px; padding-bottom: 50px; border-bottom: 1px solid #ccc}

.cart-content{border: solid #f1f1f1; border-width: 0 1px; margin-bottom: 30px}
.cart-item{border-bottom: 1px solid #f1f1f1; padding: 5px 0}
.cart-item:hover{background: #f7f7f7}
.cart-item .prd-img,
.cart-item .product-image{display: inline-block; vertical-align: middle; max-width: 100px}
.cart-item .prd-description{display: inline-block; vertical-align: middle; width: calc(100% - 120px); margin-left: 15px}
.cart-item .product-name{font-size: 18px; text-transform: uppercase}

.cart-item .qty-wrap{display: inline-block; vertical-align: middle}
.cart-item .input-wrap{display: inline-block; vertical-align: middle; padding: 0 20px 0 0; position: relative;}
.cart-item .input-wrap .qty{width: 40px; text-align: center}
.cart-item .input-wrap .plus,
.cart-item .input-wrap .minus{position: absolute; right: 0; border: none; background: none; line-height: 12px; font-size: 12px; height: 12px;}
.cart-item .input-wrap .plus{top: 0}
.cart-item .input-wrap .minus{bottom: 0}

.cart-item .qty-actions{display: inline-block; vertical-align: middle}
.cart-item .btn-qty-update{border: none; background: #333; display: none; margin: 0 0 0 15px; color: #fff; border-radius: 3px;}
.cart-item .btn-qty-update i{width: 30px; height: 30px; display: block; line-height: 30px; font-size: 20px;}

.cart-item .remove{display: inline-block; vertical-align: middle; margin-left: 10px; font-size: 16px;}

.cart-item .cart-price{font-weight: 600; font-size: 16px;}

.cart-footer{margin-bottom: 30px;}

@-webkit-keyframes rotation1{
    from{-webkit-transform:rotate(0deg);}
    to{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes rotation1{
    from{-moz-transform:rotate(0deg);}
    to{-moz-transform:rotate(360deg);}
}
@-o-keyframes rotation1{
    from{-o-transform:rotate(0deg);}
    to{-o-transform:rotate(360deg);}
}
@keyframes rotation1{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

.processing{position: relative}
.processing:before{content:'Processando...'; position: absolute; left: 40px; padding: 5px; background: rgba(0,0,0,.6); color: #fff}
.processing:after{content:'';display: block; position: absolute; left: 35px; top: 50%; margin-top: -5px; border-right: 5px solid rgba(0,0,0,.6); border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: none}
.spin{-moz-animation: rotation1 1s linear infinite; -o-animation: rotation1 1s linear infinite; -webkit-animation: rotation1 1s linear infinite; animation: rotation1 1s linear infinite;}

.shipping{padding: 10px; border: 1px solid #f1f1f1;}
.shipping h2{font-size: 18px; text-transform: uppercase; font-weight: 600}
.shipping .input-box{position: relative}
.shipping .input-box label{display: none}
.shipping .input-box #postcode{height: 40px}
.shipping .input-box button{position: absolute; right: 5px; top: 5px; padding: 8px 10px; font-size: 14px; line-height: 14px; border-radius: 3px;}

.sp-methods{margin-top: 10px; padding-top: 10px; border-top: 1px dashed #f1f1f1;}
.sp-methods h3{font-size: 14px; text-transform: uppercase; font-weight: 600}
.sp-methods .method{padding: 10px; background: #f8f8f8; margin-bottom: 10px;}
.sp-methods .method:last-child{margin-bottom: 0}
.sp-methods .method_title{font-weight: 700; font-size: 13px; text-transform: uppercase}
.sp-methods li > *{display: inline-block; vertical-align: middle; margin: 0}
.method-select{display: none}

.discount-box{padding: 10px; border: 1px solid #f1f1f1;}
#discount-coupon-form{}
.discount-box h2{font-size: 18px; text-transform: uppercase; font-weight: 600}
.discount-box #coupon_code{height: 40px;}
.coupon-btn{position: absolute; right: 5px; top: 5px; padding: 8px 10px; font-size: 14px; line-height: 14px; border-radius: 3px;}

.cart .totals{padding: 10px; background: #F8f8f8}

.crosssell{margin-bottom: 50px;}

.cart-continue{padding: 10px; background: #f1f1f1;}
.checkout-types .btn-proceed-checkout{float: right}


/* CHECKOUT */

.checkout-onepage-index .main.container{
    display: flex;
    align-items: flex-start;
}
.checkout-onepage-index .main.container .col-main{
    flex: 0 0 70%;
}
.checkout-onepage-index .main.container .col-right.sidebar{
    flex: 0 0 30%;
    padding: 15px;
    border: 1px solid #333;
}

.checkout-onepage-index .section .step-title{
    display: none;
}
.checkout-onepage-index .section.active .step-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}
.checkout-onepage-index .step-title a{display: none}
.checkout-onepage-index .step-title .number{
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 32px;
    text-align: center;
    border-radius: 100%;
    margin: 0 15px 0 0;
    border: 2px solid #333;
}
.checkout-onepage-index .step-title h2{
    margin: 0;
}
#checkout-review-table{
    width: 100%;
    margin-bottom: 40px;
}
#checkout-review-table thead{background: #ececec}
#checkout-review-table th,
#checkout-review-table td{padding: 5px}
#checkout-review-table tbody{box-shadow: inset 0 0 0 1px #ececec}

#checkout-review-submit{margin-bottom: 40px}
#checkout-review-submit .buttons-set{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.checkout-onepage-success .col-right.sidebar{
    display: none;
}










