<?xml version="1.0"?>
<!--
/**
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 */
-->
<config>
    <sections>
        <lookbook translate="label comment" module="lookbook">
            <tab>mgscore</tab>
            <label>LookBook</label>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<active translate="label comment" module="lookbook">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<enabled translate="label">
                          <label>Enabled</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </enabled>
					</fields>
				</active>
                <general translate="label comment" module="lookbook">
                    <label>Lookbook Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <min_image_width translate="label">
                            <label>Minimal Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[px]]></comment>
							<validate>required-entry validate-number</validate>
                        </min_image_width>
                        <min_image_height translate="label">
                            <label>Minimal Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[px]]></comment>
							<validate>required-entry validate-number</validate>
                        </min_image_height>
                        <max_image_width translate="label">
                            <label>Maximal Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[px]]></comment>
							<validate>required-entry validate-number</validate>
                        </max_image_width>
                        <max_image_height translate="label">
                            <label>Maximal Image Height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[px]]></comment>
							<validate>required-entry validate-number</validate>
                        </max_image_height>
                        <max_upload_filesize translate="label">
                            <label>Max file size upload</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[bytes]]></comment>
							<validate>required-entry validate-number</validate>
                        </max_upload_filesize>
                        <allowed_extensions translate="label">
                            <label>Allowed extensions</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowed_extensions>
						
						<pin_width translate="label">
                            <label>Width of Pin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[px]]></comment>
							<validate>required-entry required-entry</validate>
                        </pin_width>
						
						<pin_height translate="label">
                            <label>Height of Pin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<validate>required-entry required-entry</validate>
                            <comment><![CDATA[px]]></comment>
                        </pin_height>
						
						<pin_default translate="label">
                            <label>Default text for Pin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<validate>required-entry</validate>
                        </pin_default>
						
						<pin_price translate="label">
                            <label>Use Product Price for Pin text</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pin_price>
						
						<pin_background translate="label">
                            <label>Background color for Pin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pin_background>
						
						<pin_text translate="label">
                            <label>Text color for Pin</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pin_text>
						
						<popup_image_width translate="label">
                            <label>Width of Product Image on Popup</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<validate>required-entry validate-number</validate>
							<comment><![CDATA[px]]></comment>
                        </popup_image_width>
						
						<popup_image_height translate="label">
                            <label>Height of Product Image on Popup</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<validate>required-entry validate-number</validate>
							<comment><![CDATA[px]]></comment>
                        </popup_image_height>
                                                                                                        
                    </fields>
                </general>
				
				<slider translate="label comment" module="lookbook">
                    <label>Slider Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<navigation translate="label">
                          <label>Show navigation</label>
                          <frontend_type>select</frontend_type>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                        </navigation>
						
						<pagination translate="label">
							<label>Show pagination</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </pagination>
						
						<auto_play translate="label">
							<label>Autoplay</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </auto_play>
						
						<auto_play_timeout translate="label">
                            <label>Autoplay interval timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<validate>validate-number</validate>
                        </auto_play_timeout>
						
						<stop_auto translate="label">
							<label>Pause on mouse hover</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </stop_auto>
						
						<loop translate="label">
							<label>Infinity loop</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </loop>
						
						<next_image translate="label">
                            <label>Next icon</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[Use Font Awesome or Pe-icon-7-stroke font]]></comment>
                        </next_image>
						
						<prev_image translate="label">
                            <label>Prev icon</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment><![CDATA[Use Font Awesome or Pe-icon-7-stroke font]]></comment>
                        </prev_image>
					</fields>
				</slider>
            </groups>
        </lookbook>
    </sections>
</config>
