<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_CreditCard>
            <version>3.20.1</version>
        </PagarMe_CreditCard>
    </modules>
    <global>
        <sales>
            <order_creditmemo>
                <totals>
                    <pagarme_creditcard_totals>
                        <class>pagarme_creditcard/creditmemoTotals</class>
                    </pagarme_creditcard_totals>
                </totals>
            </order_creditmemo>
            <order_invoice>
                <totals>
                    <pagarme_creditcard_totals>
                        <class>pagarme_creditcard/invoiceTotals</class>
                    </pagarme_creditcard_totals>
                </totals>
            </order_invoice>
            <quote>
                <totals>
                    <pagarme_creditcard_interest>
                        <after>grand_total</after>
                        <class>pagarme_creditcard/quote_address_total_creditCardInterestAmount</class>
                    </pagarme_creditcard_interest>
                </totals>
            </quote>
        </sales>
        <models>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Model</class>
            </pagarme_creditcard>
        </models>
        <blocks>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Block</class>
            </pagarme_creditcard>
        </blocks>
        <helpers>
            <pagarme_creditcard>
                <class>PagarMe_CreditCard_Helper</class>
            </pagarme_creditcard>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pagarme_creditcard>
                    <file>pagarme/pagarme_creditcard.xml</file>
                </pagarme_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMe_CreditCard>
                    <files>
                        <default>PagarMe_CreditCard.csv</default>
                    </files>
                </PagarMe_CreditCard>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <pagarme_creditcard>
                    <file>pagarme/pagarme_creditcard.xml</file>
                </pagarme_creditcard>
            </updates>
        </layout>
        <translate>
            <modules>
                <PagarMe_CreditCard>
                    <files>
                        <default>PagarMe_CreditCard.csv</default>
                    </files>
                </PagarMe_CreditCard>
            </modules>
        </translate>
    </frontend>
</config>
